.formochka{
    .submitform{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 100%;
        .theme{
            height: 25px;
        }
    }
    display: flex;
    justify-content: center;
    .label{
        font-size: 22px;
        font-weight: 500;
        font-size: x-large;
        color: rgb(208, 212, 168);
    }
    input{
        background: transparent;
        color: whitesmoke;
    }
    textarea{
        background: transparent;
        color: whitesmoke;
        height: 100px;
    }
}

@media (min-width: 768px) {
    .formochka {
        .submitform{
            width: 80%;
        }
    }
}
/* CSS */
.submitButton {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.submitButton:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.submitButton:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.submitButton:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.submitButton:disabled:active {
  pointer-events: none;
}

.submitButton:disabled:hover {
  box-shadow: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    width: 50%;
    color: none;
    opacity: 1;
    height: 40px;
}

.datimeinput{
    min-height: 40px;
}